@media screen and (min-width: 1200px) {
    
    .navigation ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .navigation ul li a {
        display: block;
    }
    #menu{
        display: none;
    }

    #business{
        display: grid;
        grid-template-columns: repeat(3, auto);;
    }
    .disc{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
