:root {
    --primary-theme: #00249c;
    --secondary-theme: #d8d8d8b7;
    --third-theme: #fffdd0;
    --fourth-theme: #F5F5F5;
    --text-color: #FFFFFF;
    --text-color2: #000000;
}

header{
    background-color: var(--primary-theme);
    padding: .95em;
    margin-bottom: -15px;
    display: grid;
    grid-template-columns: 35px auto 44px;
}

.title{
    color: var(--text-color);
    font-size: 30px;
}

.navigation{
    width: 100%;

}
.navigation li{
    flex: 1 1 auto;
    list-style: none;


}
ul{
    padding: 0;
    width: 100%;
}
.navigation a{
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    display: none;
    background-color: var(--primary-theme);
    border: 1px solid var(--text-color2);
    padding: 0.75rem;
}

.navigation a:hover {
    background-color: var(--secondary-theme);
    text-decoration: underline;
    text-decoration-color: var(--third-theme);
}
.open a {
    display: block;
}
#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}


.about, .web, .student{
    background-color: var(--secondary-theme);
    margin-bottom: 10px;
}

.about h2,
.web h2,
.student h2{
    background-color: var(--primary-theme);
    padding: 0.75rem;
    color: var(--text-color);
    margin: 0;
}

.about div p,
.web div p,
.student div p {
    padding: 0.75rem;
    margin: 0;
}

.about img,
.web img,
.student img{
    padding: 0.75rem;
}

/* Web botons */

.course{
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    text-align: center
   
}

.courses section h1{
    border: 1px solid var(--text-color2);
    background-color: var(--third-theme);
    text-align: center;
    font-size: 25px;
    padding: 0.35rem;
}
#all {
    background-color: var(--primary-theme);
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 15px;
    margin-top: 20px;
}

#wdd {
    background-color: var(--primary-theme);
    color: var(--text-color);
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
}

#cse {
    background-color: var(--primary-theme);
    color: var(--text-color);
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
}
.web p{
    text-align: center;
    font-size: 15px;
}
.web h2{
    margin-bottom: 30px;
}
footer{
    background-color: var(--primary-theme);
    color: var(--text-color);
    padding: 0.75rem;
    text-align: center;
    font-size: 15px;
}