@media screen and (min-width: 65.5em) {
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav .navigation a {
        display: block;
        height: 100%;
    }

    #course-title {
        text-align: left;
        margin: 10px;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* plan section */
    .divp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
        max-width: 800px;
        margin: 20px auto;
        min-height: 240.63px;
    }

    .divp img {
        width: 100%;
        height: 246px;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }

    .links {
        border-radius: 10px;
        width: 250px;
        margin-left: 50px;
    }

    /* food page */
    .food {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        padding: 0 1rem;
    }

    .foodcart img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    /* form */
    .wf1 fieldset {
        max-width: 800px;
        margin: 20px auto;
    }

    /* modal */
    #food-modal {
        max-width: 560px;
    }
}
